{%- assign COMPONENT_NAME = 'price' -%}

{%- comment -%}

  Required arguments:
  • resource
  • type

  Optional arguments:
  • filter

{%- endcomment -%}


<div
  class="{%- include 'classes' -%}"
  data-price="{{- type -}}"
  {% include 'attrs' -%}>

  {%- case filter -%}
    {%- when 'money_with_currency' -%}

      {{- resource[type] | money_with_currency -}}

    {%- when 'money_without_trailing_zeros' -%}

      {{- resource[type] | money_without_trailing_zeros -}}

    {%- when 'money_without_currency' -%}

      {{- resource[type] | money_without_currency -}}

    {%- else -%}

      {{- resource[type] | money -}}

  {%- endcase -%}
</div>


{%- assign COMPONENT_NAME = nil -%}
