{%- assign COMPONENT_NAME = 'menu' -%}

{%- comment -%}

  Required arguments:
  • linklist

  Optional arguments:
  • parent_classes
  • child_classes
  • grandchild_classes

{%- endcomment -%}


<nav
  class="{%- include 'classes' -%}"
  {% include 'attrs' -%}>

  {%- for parent in linklists[linklist].links -%}
    <div class="parent-link-group {{ parent.handle }} {% if parent.levels > 0 -%}with-children{%- endif -%}">

      {%- capture _parent_link_classes -%}
        parent-link {{ parent_classes -}}
      {%- endcapture -%}

      {%- include 'link',
        href: parent.url,
        content: parent.title,
        classes: _parent_link_classes,
        attrs: '' -%}

      {%- if parent.levels > 0 -%}
        <div class="child-links">

          {%- for child in parent.links -%}
            <div class="child-link-group {{ child.handle }} {% if child.levels > 0 -%}with-grandchild{%- endif -%}">

              {%- capture _child_link_classes -%}
                child-link {{ child_classes -}}
              {%- endcapture -%}

              {%- include 'link',
                href: child.url,
                content: child.title,
                classes: _child_link_classes,
                attrs: '' -%}

                {%- if child.levels > 0 -%}
                  <div class="grandchild-links">
                    {%- for grandchild in child.links -%}

                      {%- capture _grandchild_link_classes -%}
                        grandchild-link {{ grandchild_classes }} {{ grandchild.handle -}}
                      {%- endcapture -%}

                      {%- include 'link',
                        href: grandchild.url,
                        content: grandchild.title,
                        classes: _grandchild_link_classes,
                        attrs: '' -%}

                    {%- endfor -%}
                  </div>
                {%- endif -%}

            </div>
          {%- endfor -%}

        </div>
      {%- endif -%}

    </div>
  {%- endfor -%}

</nav>


{%- assign COMPONENT_NAME = nil -%}
